<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Helps macOS treat this as a normal notification-capable app -->
	<key>NSUserNotificationAlertStyle</key>
	<string>alert</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Docket notifies you when new mail arrives.</string>
	<key>CFBundleDisplayName</key>
	<string>Docket</string>
	<key>CFBundleName</key>
	<string>Docket</string>
</dict>
</plist>
